PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/liemresearch
JWT_SECRET=liemresearch_local_secret
JWT_EXPIRES_IN=1d
CLIENT_URL=http://localhost:5173
CLIENT_URLS=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-2
AWS_S3_BUCKET=liem-research
